{{template "base" .}}

{{define "content"}}
  <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>

  <h3><img width="70px" src="/static/img/btc.png">Buy BTC From Me</h3>
  <form method="post" id="buy-btc-form" action="/create-order">
    <div class="row mt-3">
      <div class="form-group">
        
        {{$orderModel := index .Data "order_model"}}
        {{with .Form.Errors.Get "btc_addr"}}
          <label class="text-danger"> {{.}}</label>
        {{end}}
        <div class="mb-3">
          <input type="text" value="{{$orderModel.Address }}" class="form-control {{with .Form.Errors.Get "btc_addr"}}is-invalid{{end}}" id="btc_addr" name="btc_addr" aria-describedby="btc_addr" placeholder="Enter Bitcoin Address">
        </div>
        <div class="mb-3">
          <input type="text" value="{{$orderModel.Amount }}" class="form-control {{with .Form.Errors.Get "amount"}}is-invalid{{end}}" id="amount" name="amount" aria-describedby="amount" placeholder="Enter Amount">
        </div>
        <div class="mb-3">

        </div>
        <input type="hidden" name="csrf_token" value="{{index .Data "csrf_token"}}"/>
        <div id="addressHelp" class="form-text">Bitcoin Address we will send bought amount to.</div>

      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <input type="submit" value="Pay" id="pay-button" class="btn btn-primary"/>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    function omisePaymentForm(omiseAmount) {
    const { OmiseCard } = window

    OmiseCard.configure({
      publicKey: {{index .Data "omise_key"}},
      amount: omiseAmount,
    })

    OmiseCard.open({
      amount: omiseAmount,
      currency: "USD",
      defaultPaymentMethod: "credit_card",
      onCreateTokenSuccess: (nonce) => {
        console.log("token created succesfully")
        $("#pay-button").attr("disabled", false);
      },
      onFormClosed: () => {
        $("#pay-button").attr("disabled", false);
      }
    })
  };
    // ---------------------------------------------------
    $("#buy-btc-form").submit(function(e) {
      $("#pay-button").attr("disabled", true);
      e.preventDefault();
  
      var form = $(this);
      const actionUrl = form.attr('action');
      const omiseAmount = form.attr('amount');
      
      $.ajax({
          type: "POST",
          url: actionUrl,
          data: form.serialize(), // serializes the form's elements.
          success: function(data)
          {
            omisePaymentForm(omiseAmount)
          }
      });
      
  });

  </script>
  {{end}}