{{template "base" .}}
<styles>
  spinner-grow {
    margin-left:20px
  }
</styles>
{{define "content"}}
  <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>
  <div id="error-alert" class="alert alert-danger" role="alert" hidden>
    Error while processing request
  </div>
  <h3><img width="70px" src="/static/img/btc.png">Buy BTC From Me <div class="spinner-grow  spinner-grow-sm" id="spinner" role="status"></h3>
  <h5 id="available">Available</h5>
    <form method="post" id="buy-btc-form" action="/create-order">
    <div class="row mt-3">
      <div class="form-group">
        <div class="mt-3">
          <input type="text" id="btc_addr" name="btc_addr" class="form-control"  aria-describedby="btc_addr" placeholder="Enter Bitcoin Address">
        </div>
        <div id="addressHelp" class="form-text">Bitcoin Address we will send bought Bitcoin to.</div>
        <div class="mt-3">
          <input type="text" id="btc_amount" name="btc_amount" class="form-control" aria-describedby="amount" placeholder="Enter Amount">
        </div>
        <div id="btc_price_hint" class="form-text">Price for 1 BTC</div>
        <div class="mt-3">
          <input type="text" class="form-control" id="to-pay" name="to-pay" aria-describedby="to-pay" placeholder="To Pay" disabled>
        </div>

        <div id="addressHelp" class="form-text">Amount to pay in USD</div>
        <div style="margin-top:60px">
          <input type="text" hidden id="btc_price" name="btc_price" class="form-control" aria-describedby="btc_price" placeholder="Price for 1 BTC">
        </div>
        
        <div class="mt-3">

        </div>
        <input type="hidden" name="csrf_token" value="{{index .Data "csrf_token"}}"/>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="submit" value="Buy" disabled id="pay-button" class="btn btn-primary"/>      
        </div>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    var BTCPRICE = undefined;

    function omisePaymentForm(omiseAmount, orderId) {
        const { OmiseCard } = window
        
        omiseAmount = parseFloat(omiseAmount) * 100

        OmiseCard.configure({
          publicKey: {{index .Data "omise_key"}},
          amount: omiseAmount,
        })

        OmiseCard.open({
          amount: omiseAmount,
          currency: "USD",
          defaultPaymentMethod: "credit_card",
          onCreateTokenSuccess: (nonce) => {
            console.log("token created succesfully", nonce)
            confirmPayment(nonce, omiseAmount, orderId)
            $("#pay-button").attr("disabled", false);
          },
          onFormClosed: () => {
            $("#pay-button").attr("disabled", false);
          }
        })
    };
    // ---------------------------------------------------
    $("#buy-btc-form").submit(function(e) {
          $("#pay-button").attr("disabled", true);
          e.preventDefault();
      
          var form = $(this);
          const actionUrl = form.attr('action');
          const omiseAmount = $("#to-pay").val();
          console.log("to Pay:", omiseAmount)
          
          $.ajax({
              type: "POST",
              url: actionUrl,
              data: form.serialize(), // serializes the form's elements.
              success: function(data)
              {
                console.log("order create response", data)
                if (data.status=='err'){
                  if (data.errors.btc_addr) {
                    console.log("validation error")
                    $("#btc_addr").attr("class","form-control is-invalid");
                  } else {
                    $("#btc_addr").attr("class","form-control");
                  }
                  
                  if (data.errors.btc_amount) {
                    console.log("validation error")
                    $("#btc_amount").attr("class","form-control is-invalid");
                  } else {
                    $("#btc_amount").attr("class","form-control");
                  }

                  $("#pay-button").attr("disabled", false);
                }else {
                  omisePaymentForm(omiseAmount, data.order_id)
                }
                
              }
            }); //ajax request
      }); //submit
  function showErrorAlert() {
    $("#error-alert").attr("hidden", false);
  }
  function loadAvailable(){
    $.ajax({ url: "/get-btc-balance",
    context: document.body,
    success: function(done){
      console.log("load available done", done)
      if (done.btc_balance){
        $('#available').html("Available: " + done.btc_balance + " BTC")
        $("#pay-button").attr("disabled", false);
      } else {
        showErrorAlert()
        if (!done.err) {
            $("#pay-button").attr("disabled", true);
        }
      }
      $('#spinner').hide()
    }
  });
  }
  function confirmPayment(token, orderId, amountUsd){
    token="tokn_test_5sz2x3wvpj1icntc31k"
    orderId=17
    amountUsd=26206.856

  }
  $(document).ready(function(){
    $.ajax({ url: "/get-btc-price",
        context: document.body,
        success: function(done){
          console.log("done", done)
          if (done.btc_price){
            BTCPRICE = parseFloat(done.btc_price) * (1 + done.sell_margin);

            $("#btc_price").val(BTCPRICE);
            $('#btc_price_hint').html("Price for 1 BTC: " + BTCPRICE)
            loadAvailable()
          } else {
            showErrorAlert()
            if (!done.err) {
              $("#pay-button").attr("disabled", true);
          }
        }
          $('#spinner').hide()
        }
    });


  });
  $( "#btc_amount").keyup(function() {
    const amountToBuy = $("#btc_amount").val();
    if (amountToBuy) {
      $("#to-pay").val((BTCPRICE * parseFloat(amountToBuy)).toFixed(2));
    } else {
      $("#to-pay").val("");
    }
  });
  </script>
  {{end}}